@import "../../styles/main.scss";

.day-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10px);
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 25px;
  background-color: var(--color-background);
  padding: rem(10px);

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10px);

    &__color-circle {
      height: rem(30px);
      width: rem(30px);
      border-radius: 50%;
    }
  }

  &__intakes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(10px);
    width: 100%;

    h4 {
      width: rem(350px);
    }

    &__list {
      display: flex;
      gap: rem(5px);
    }
  }

  &__workouts {
    display: flex;
    flex-direction: column;

    &__title {
      align-self: center;
    }
  }
}
