@import "../../styles/main.scss";

.report.week-report {
  display: flex;
  flex-direction: column;
  gap: rem(20px);

  .week-report-day-display-container {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20px);
  }
}
