/* Media queries Breakpoint mixins */

// 576px
@mixin for-mobile-layout {
  @media (max-width: $break-mobile) {
    @content;
  }
}

// 768px
@mixin for-tablet-layout {
  @media (min-width: $break-tablet) {
    @content;
  }
}

// 992px
@mixin for-desktop-layout {
  @media (min-width: $break-desktop) {
    @content;
  }
}

// 1200px
@mixin for-large-desktop-layout {
  @media (min-width: $break-large-desktop) {
    @content;
  }
}

// 1400px
@mixin for-extra-large-desktop-layout {
  @media (min-width: $break-extra-large-desktop) {
    @content;
  }
}

/* Media  Mixins */

//aspect ratio mixin
@mixin aspect-ratio($width: 1, $height: 1) {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: calc($height / $width) * 100%;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  > img {
    height: 100%;
    object-fit: cover;
  }
}

@mixin page {
  max-width: rem(620px);
}

@mixin scrollbar-hidden {
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  & {
    scrollbar-width: none;
  }

  & {
    -ms-overflow-style: none;
  }

  &::-webkit-scrollbar {
    width: 0.2em;
    background-color: transparent;
  }
}

@mixin progress-bar($height: 5px, $loaderLength: 10s) {
  .progress-bar {
    width: 100%;
    height: $height;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.15);
    overflow: hidden;
    border-radius: 0;
  }

  .progress-bar::after {
    content: "";
    box-sizing: border-box;
    width: 0;
    height: $height;
    background: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    animation: animFw $loaderLength linear infinite;
  }

  @keyframes animFw {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

@mixin modal-hover-guard {
  &.modal-above {
    &:hover {
      &::before {
        content: "";
        position: absolute;
        top: rem(-20px);
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        height: rem(20px);
        opacity: 0;
      }
    }
  }

  &.modal-below {
    &:hover {
      &::after {
        content: "";
        position: absolute;
        bottom: rem(-20px);
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        height: rem(20px);
        opacity: 0;
      }
    }
  }
}
