@import "../../../styles/setup/functions";

.user-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(15px);
  min-width: rem(300px);
  width: max-content;
  height: rem(50px);
  text-align: center;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: rem(16px);
  border-radius: 5px;
  background-color: var(--color-primary);
  color: white;
  font-family: var(--font-primary);

  &.error {
    background-color: var(--color-danger);
  }

  &.success {
    background-color: var(--color-success);
  }

  &.warning {
    background-color: var(--color-warning);
  }

  .user-msg-link,
  .user-msg-btn {
    color: white;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}
