@import "../../../styles//setup/functions";

.intake-item-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10px);

  input {
    background-color: rgb(178, 177, 177);
  }
}
