@import "../../../styles/main.scss";

.intake-item-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10px);
  width: 100%;
  color: var(--color-text-gray);

  > * {
    width: 100%;
  }

  .error-msg {
    font-style: normal;
    font-weight: 600;
    font-size: rem(20px);
    text-transform: uppercase;
    padding: rem(5px) rem(10px);
    color: var(--color-warning);
  }

  .intake-item-input {
    width: 100%;
    padding: rem(12px) rem(25px);
    border-radius: 25px;
    font-size: rem(20px);
    text-transform: capitalize;

    &.faded {
      filter: brightness(0.9);
    }
  }

  .intake-item-edit-inputs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .quantity-input-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(15px);
      border-radius: 25px;
      color: white;
      font-size: rem(16px);
      position: relative;
      font-style: italic;
      top: 1px;

      .quantity-input {
        text-align: center;
        font-weight: 600;
        max-width: rem(100px);
        color: var(--color-text-gray);
        font-size: rem(20px);
        height: rem(40px);
      }

      svg {
        color: white;
        width: rem(40px);
        height: rem(40px);
      }
    }
  }

  .intake-item-edit__manuall-calorie-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(15px);

    .intake-item-input {
      text-align: center;
      font-weight: 600;
      font-size: rem(20px);
    }
  }

  .intake-item-edit__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(100px);
    height: rem(40px);
    background-color: white;
    border-radius: 10px;
    cursor: pointer;

    &.active {
      filter: brightness(0.9);
    }

    span {
      font-size: rem(18px);
      position: relative;
      font-weight: 600;
      color: var(--color-text-gray);
      text-transform: uppercase;
      top: 1px;
    }
  }

  .spelling-suggestion-list {
    display: flex;
    flex-direction: column;
    gap: rem(10px);

    .spelling-suggestion-list__item {
      display: flex;
      flex-wrap: wrap;
      gap: rem(10px);

      .intake-item-edit__btn {
        width: fit-content;
        padding: rem(5px) rem(10px);
      }
    }
  }
}
