@import "../../../styles/main.scss";

.day-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: rem(15px);
  flex-grow: 1;
  padding: rem(5px);
  overflow: scroll;
  @include scrollbar-hidden;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__date-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: rem(10px) 0 0 0;
    }

    &__date {
      font-size: rem(18px);
      font-weight: 600;
      text-transform: uppercase;
      color: inherit;
    }

    &__titles {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: rem(2px);

      &__title {
        font-size: rem(20px);
        text-transform: uppercase;
        color: inherit;
        strong {
          font-size: rem(22px);
        }
      }
    }

    &__percentages-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: rem(280px);
    }

    hr {
      width: 100%;
      margin: 0;
    }

    &__percentage {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(5px);
      width: 100%;

      &__title,
      &__value {
        text-transform: uppercase;
        color: inherit;
      }
    }
  }

  @include for-desktop-layout {
    justify-content: flex-start;
    flex-grow: 0;
    width: rem(620px);
    height: 75vh;
    max-height: rem(1200px);
    padding: rem(10px) rem(40px) rem(30px);
    border-radius: 50px;
  }
}
