@import "../../../styles/main.scss";

.day-goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(25px);

  .empty {
    color: var(--color-secondary);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(5px);
    background-color: var(--color-background);
    width: 100%;
    padding: rem(10px);
    border-radius: 5px;
    min-height: 0;

    p {
      color: var(--color-text);
    }
  }
}
