@import "../../../styles/main.scss";

.day-edit__filter {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: rem(10px);

  .filter__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10px);
    border-radius: 25px;
    font-size: rem(16px);
    transition: all 0.2s ease-in-out;
  }
}
