@import "../../styles/setup/functions";
@import "../../styles/setup/mixins";

.profile-details {
  max-width: 650px;
  overflow: hidden;

  .profile-details__user-avatar{
    height: rem(85px);
    width: rem(85px);
    border-radius: 50%;
  }

  .profile-details__user-posts{
    overflow: hidden;

    @include scrollbar-hidden;
    }
}
