@import "../../../styles/main.scss";

.app-header {
  width: 100%;
  height: rem(75px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(10px);
  background-color: var(--color-primary);
  border-bottom: 1px solid var(--color-secondary-border);

  &__btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10px);

    .goal-indicator {
      flex-direction: row;

      &__title,
      &__text {
        display: none;
      }

      .goal-indicator-circle {
        width: rem(50px);
        height: rem(50px);

        .goal-indicator__icon {
          font-size: rem(25px);
        }
      }
    }

    .btn-go-back {
      padding: 0;
      svg {
        width: rem(28px);
        height: rem(28px);
        fill: white;
      }
    }
  }

  .app-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: rem(30px);
    width: 100%;
    height: 100%;
    padding: 0 rem(10px);

    .app-nav-link {
      color: inherit;
      font-size: rem(18px);
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      span {
        display: none;
      }

      .app-nav-link__icon {
        width: rem(28px);
        height: rem(28px);
        color: inherit;
      }

      &.active {
        .app-nav-link__icon {
          scale: 1.2;
        }

        font-size: rem(20px);
        font-weight: 600;
      }
    }
  }
}

@include for-desktop-layout {
  .app-header {
    &__btn-container {
      .btn-go-back {
        padding: rem(15px) rem(20px);
      }
    }

    .app-nav {
      .app-nav-link {
        .app-nav-link__icon {
          display: none;
        }
        span {
          display: inline-block;
        }
      }
    }
  }
}
