@import "../../styles//main";

.page.workout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: rem(25px);
  gap: rem(25px);
  background-color: var(--color-primary);
}
