@import "../../styles//main";

.page.workout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: rem(25px);
  gap: rem(25px);
  background-color: var(--color-primary);
}

.workout-page__goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(25px);
  background-color: var(--color-background);
  padding: rem(15px);
  border-radius: rem(5px);
  
  &__list {
    min-height: 0;
    gap: rem(5px);
  }
}
