@import "../../../styles/main.scss";

.filter {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: rem(10px);

  .filter__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10px);
    border-radius: 25px;
    font-size: rem(16px);
    transition: all 0.2s ease-in-out;

    button {
      font-weight: 600;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid white;
      border-radius: 25px;
      padding: rem(10px) rem(15px);
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: var(--color-background-light);
      }
    }
  }
}
