@import "../../../styles//setup/functions";
@import "../../../styles//setup/variables";
@import "../../../styles//setup/mixins";

.today-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: rem(15px);
  // padding: rem(15px);
  flex-grow: 1;

  .today-details__title {
    font-size: rem(25px);
    text-transform: uppercase;
    color: white;

    strong {
      font-size: rem(28px);
    }
  }

  @include for-desktop-layout {
    justify-content: flex-start;
    flex-grow: 0;
    width: rem(620px);
    height: 75vh;
    max-height: rem(1200px);
    padding: rem(10px) rem(40px) rem(30px);
    border-radius: 50px;
  }

  .intake-list {
    align-items: flex-start;
    gap: rem(40px);

    .intake-preview-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      .intake-list-item-title {
        margin-bottom: rem(10px);
        align-self: center;

        .list-item-title__text {
          font-size: rem(20px);
        }
      }
    }
  }
}
