@import "../../../styles/main.scss";

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(150px);
  height: rem(150px);
  padding: rem(10px);
  border-radius: 50%;
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary-border);

  span {
    font-size: rem(25px);
    font-weight: 600;
    color: var(--color-secondary);
  }
}
