@import "../../styles/main.scss";

.workout-item-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(15px);
  padding: rem(10px);
  color: var(--color-text);
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  width: 100%;
  max-width: rem(500px);

  &__btns-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(15px);
    width: 100%;

    &__btn {
      background-color: var(--color-primary);
    }

    &__btn-set-num {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(10px);
      height: rem(40px);
      width: rem(100px);
      background-color: var(--color-background);
      border: 2px solid var(--color-border);
      border-radius: 10px;
      cursor: pointer;

      span {
        font-size: rem(18px);
        font-weight: 600;
        color: var(--color-text-gray);
        text-transform: uppercase;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(5px);
    width: 100%;

    &__title {
      font-size: rem(18px);
      font-weight: 600;
      text-transform: capitalize;
      color: inherit;
    }

    &__superset-set-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(2px);

      &__item {
        font-size: rem(16px);
        text-transform: capitalize;
      }
    }
  }
}
