@import "../../../styles/main.scss";

.item-duration-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: rem(205px);
  width: rem(205px);
  //   box-shadow: 0 0 rem(10px) rgba(0, 0, 0, 0.2);

  &__border {
    border-radius: 50%;
    border: rem(2px) solid var(--color-primary);
  }
}
