@import "../../../styles/main.scss";

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(15px);

  .clock-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(175px);
    height: rem(175px);
    border-radius: 50%;
    background-color: var(--color-primary);
  }

  &__count {
    font-size: rem(30px);
    font-weight: 600;
    color: var(--color-secondary);
  }

  .timer__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(15px);
    padding: 0 rem(10px);
    width: 100%;

    .timer__controls__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(50px);
      height: rem(50px);
      border: 1px solid white;
      border-radius: 50%;
      color: white;
      font-size: rem(14px);
      font-weight: 600;
      padding: 0;

      svg {
        width: rem(18px);
        height: rem(18px);
      }
    }
  }
}
