.signup-page {
  background-color: var(--color-primary);

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  fieldset {
    border-radius: 1rem;
  }

  label:focus-within {
    fieldset {
      border-color: rebeccapurple;
    }
  }
}
