@import "../../styles/main";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - rem(75px));
  height: 100%;
  width: 100%;

  @include for-desktop-layout {
    padding: rem(50px) 0;
  }
}
