@import "../../styles/setup/mixins.scss";
@import "../../styles/setup/functions";

.home {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: rem(50px) 0;
}
