@import "../../styles/main.scss";

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--color-background);

  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: rem(32px);
  transform: translateX(-50%);
  z-index: 1000;

  .modal-hover-guard-zone {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &.confirm-delete-msg {
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    width: rem(320px);
    height: rem(260px);
    z-index: 3500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  &.create-day-modal {
    top: 75%;
  }

  @include for-desktop-layout {
    &.create-day-modal {
      top: 20%;
    }
  }
}

.modal-hover-open {
  width: fit-content;
}
