@import "../../styles/main.scss";

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: rem(16px);
  top: 50%;
  left: 50%;
  background-color: var(--color-background);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: rem(32px);
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  max-width: rem(320px);

  .delete-btn {
    background-color: var(--color-danger);
  }

  &.create-day-modal {
    top: 75%;
  }

  @include for-desktop-layout {
    &.create-day-modal {
      top: 20%;
    }
  }
}

.modal-hover-open {
  width: fit-content;
}
