@import "../../../styles/setup/functions";

.login-signup-msg {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: rem(200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: rem(35px);
  border-radius: 25px;
  background-color: var(--color-primary);
  color: white;

  .login-signup-msg-text-container {
    align-self: flex-start;
    margin-inline-start: rem(100px);

    h1 {
      font-size: rem(25px);
    }

    p {
      font-size: rem(15px);
    }
  }

  .login-signup-msg-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10px);

    .btn-login {
      border: white 1px solid;
      background-color: transparent;
      color: white;
      padding: rem(10px) rem(20px);
      border-radius: 25px;
      transition: background-color 0.3s ease-in-out;
      font-size: rem(15px);
      font-weight: 700;

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }

    .btn-signup {
      background-color: var(--color-secondary-border);
      color: var(--color-text);
      padding: rem(10px) rem(20px);
      border-radius: 25px;
      transition: all 0.3s ease-in-out;
      font-size: rem(15px);
      font-weight: 700;

      &:hover {
        filter: brightness(85%);
      }
    }
  }
}
