@import "../../../styles/setup/functions";

.logo-container {
  display: flex;
  width: rem(65px);
  height: rem(65px);
  position: relative;

  .logo {
    width: rem(400px);
    height: rem(400px);
  }

  svg {
    width: 100%;
    height: 100%;
    color: var(--color-primary);
  }
}
