@import "../../styles/main";

.workout-edit {
  background-color: var(--color-primary);
  gap: rem(10px);
  position: relative;

  .workout-edit__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(15px);
    width: 100%;
    max-width: rem(600px);
    padding: 0 rem(10px) rem(10px) rem(10px);

    .workout-edit-page__duration-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(8px);
      padding: rem(10px) rem(20px);
      background-color: var(--color-secondary);
      border-radius: 5px;
      font-size: rem(18px);
      font-weight: 600;
      color: var(--color-text-gray);
      text-transform: uppercase;
      margin: rem(5px) 0;
    }

    &__btns {
      margin: rem(5px) 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;

      gap: rem(10px);
    }

    .workout-edit__items-list {
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      gap: rem(10px);
      width: 100%;

      &__item {
        background-color: var(--color-background);
        border-radius: 10px;
      }

      .workout-edit__form {
        padding: rem(15px) rem(10px);
        // background-color: var(--color-primary);
        label {
          color: var(--color-text-gray);
        }

        input {
          border: 1px solid var(--color-border);
          box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.15);
          padding: rem(10px) rem(8px);
        }

        .btn {
          background-color: var(--color-primary);
        }

        // border-bottom: 1px solid var(--color-secondary-border);
      }
    }

    .workout-edit__form__input-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: rem(10px);
      width: 100%;

      > * {
        font-weight: 600;
        color: var(--color-text-gray);
      }

      &.name-input {
        grid-column: 1 / span 2;
        input {
          width: 100%;
          max-width: 100%;
        }
      }

      label {
        font-size: rem(16px);
        font-weight: 600;
        text-transform: capitalize;
        color: var(--color-secondary);
      }

      input {
        width: 100%;
        height: rem(35px);
        padding: rem(5px);
        border-radius: 5px;
        font-size: rem(18px);
        text-transform: capitalize;
      }

      // TODO: Remove this
      .SelectTrigger {
        height: rem(35px);
        font-size: rem(16px);
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 5px;
        padding: rem(5px) rem(10px);
        background-color: var(--color-secondary);
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .select-trigger {
        height: rem(35px);
        font-size: rem(16px);
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 5px;
        padding: rem(5px) rem(10px);
        background-color: var(--color-secondary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--color-border);
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.15);
        height: fit-content;
      }

      .select-list {
        font-size: rem(14px);
        font-weight: 600;
        width: 100%;
        height: fit-content;
        border-radius: 5px;
        background-color: var(--color-secondary);
        z-index: 1000;
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.15);

        &__item {
          font-size: rem(18px);
          font-weight: 600;
          width: 100%;
          padding: rem(5px) rem(10px);
          color: var(--color-text-gray);
          text-transform: uppercase;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:hover {
            background-color: var(--color-hover);
          }
        }
      }

      &__btns-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: rem(10px);

        .btn {
          align-self: flex-end;
          padding: rem(10px) rem(18px);
        }
      }
    }

    &.superset {
      // display: flex;
      // flex-direction: column;
      // flex-wrap: wrap;
      gap: rem(10px);
      width: 100%;

      .workout-edit__form {
        padding: 0 0 rem(10px) 0;
        border-bottom: 1px solid var(--color-secondary-border);
      }
      .workout-edit__form__input-container--btns {
        padding: rem(5px) 0;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
      }
    }

    .workout-edit__form__superset-item-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .workout-edit__form__superset-item-container {
      display: flex;
      flex-direction: column;
      gap: rem(10px);
      padding: rem(10px) rem(20px);
      border-radius: 5px;
      font-size: rem(18px);
      font-weight: 600;
      color: var(--color-text-gray);
      text-transform: uppercase;

      h3 {
        color: var(--color-secondary);
      }

      .workout-edit__form__superset-item-container__btns {
        display: flex;
        gap: rem(10px);
        align-items: flex-end;
        justify-content: flex-end;
      }

      .superset__btn-delete {
        align-self: flex-end;
      }
    }

    &__footer {
      gap: rem(10px);
      .btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(90px);
        height: rem(45px);
      }
    }
  }
}

.SelectTrigger {
  border: 1px solid var(--color-border);
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.15);
  height: fit-content;
}

.SelectContent {
  font-size: rem(14px);
  font-weight: 600;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  background-color: var(--color-secondary);
  z-index: 1000;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.15);
  top: 100% !important;

  .SelectItem {
    font-size: rem(18px);
    font-weight: 600;
    width: 100%;
    padding: rem(5px) rem(10px);
    color: var(--color-text-gray);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: var(--color-hover);
    }
  }
}
